@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Michroma&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
}

.sidebar {
  background-color: #f7f9fc;
  width: 25%;
  height: auto;
}
.sidebar .line {
  border: none;
  height: 1px;
  background: #afb4c0;
  margin: 20px 20px;
}
.sidebar .banner {
  text-align: center;
}
.sidebar .banner .banner-photo {
  width: 100%;
  object-fit: cover;
  height: 100%;
  margin-bottom: 25px;
}
.sidebar .banner .name {
  justify-self: center;
  font-family: "outfit";
  font-weight: 500;
  color: #2d3748;
}
.sidebar .banner .role {
  background-image: linear-gradient(to right, #a478e8, #516cf7);
  color: transparent;
  background-clip: text;
  justify-self: center;
  font-family: "outfit";
  margin-top: 5px;
  font-size: 18px;
}
.sidebar .quote-section {
  padding: 0 30px;
  margin-bottom: 30px;
}
.sidebar .quote-section .quote {
  font-size: 15px;
  font-weight: 600;
  color: #4a5568;
  font-family: "outfit";
  padding: 0 30px;
  margin-bottom: 10px;
}
.sidebar .quote-section .quote q {
  quotes: "“" "”" "‘" "’";
}
.sidebar .quote-section .quote q::before {
  content: open-quote;
  font-size: 24px;
  color: #8a8a8a;
}
.sidebar .quote-section .quote q::after {
  content: close-quote;
  font-size: 24px;
  color: #8a8a8a;
}
.sidebar .quote-section .author {
  display: block;
  text-align: left;
  margin: 5px 0px 30px 30px;
  font-size: 11px;
  color: #9ca3af;
  font-family: "DM sans";
}
.sidebar .contact-section {
  display: block;
  padding: 0 30px;
  margin-bottom: 40px;
}
.sidebar .contact-section .contact-details {
  display: flex;
  margin-left: 20px;
  margin-bottom: 15px;
}
.sidebar .contact-section .contact-details .contact-icon {
  height: 20px;
  width: 20px;
  padding: 5px;
  background-color: #afb4c0;
  border-radius: 100px;
  flex-shrink: 0;
}
.sidebar .contact-section .contact-details .contact-content {
  display: block;
  font-family: "outfit";
  margin-left: 10px;
}
.sidebar .contact-section .contact-details .contact-content .contact-label {
  font-size: 11px;
  color: #afb4c0;
}
.sidebar .contact-section .contact-details .contact-content .contact-value {
  font-size: 12px;
  color: rgb(69, 69, 69);
}
.sidebar .social-section {
  display: block;
  padding: 0 30px;
  margin-bottom: 40px;
}
.sidebar .social-section .social-title {
  color: #afb4c0;
  font-size: 13px;
  margin: 0px 0px 10px 20px;
}
.sidebar .social-section .social-box {
  display: block;
}
.sidebar .social-section .social-box .social-details {
  display: flex;
  margin-left: 20px;
  margin-bottom: 15px;
}
.sidebar .social-section .social-box .social-details .social-icon {
  height: 25px;
  width: 25px;
}
.sidebar .social-section .social-box .social-details .social-contents {
  display: block;
  font-family: "outfit";
  margin-left: 10px;
}
.sidebar .social-section .social-box .social-details .social-contents .social-label {
  font-size: 11px;
  color: #afb4c0;
}
.sidebar .social-section .social-box .social-details .social-contents .social-value {
  font-size: 12px;
  color: rgb(69, 69, 69);
}
.sidebar .language-section {
  display: block;
  padding: 0 30px;
  margin-bottom: 40px;
}
.sidebar .language-section .language-title {
  color: #afb4c0;
  font-size: 13px;
  margin: 0px 0px 10px 20px;
}
.sidebar .language-section .language-box {
  display: block;
}
.sidebar .language-section .language-box .language-details {
  display: flex;
  margin-left: 20px;
  margin-bottom: 15px;
}
.sidebar .language-section .language-box .language-details .language-icon {
  height: 25px;
  width: 25px;
}
.sidebar .language-section .language-box .language-details .language-contents {
  display: block;
  font-family: "outfit";
  margin-left: 10px;
}
.sidebar .language-section .language-box .language-details .language-contents .language-label {
  font-size: 11px;
  color: #afb4c0;
}
.sidebar .language-section .language-box .language-details .language-contents .language-value {
  font-size: 12px;
  color: rgb(69, 69, 69);
}

.container {
  background-color: rgb(255, 254, 254);
  margin-left: 30px;
  width: 75%;
}
@media (min-width: 1240px) {
  .container::before {
    content: "";
    position: absolute;
    top: 30px;
    bottom: 0;
    left: calc(25% + 30px + 2px);
    width: 2px;
    background-color: #afb4c0;
    z-index: 0;
    height: calc(100% + 890px);
  }
}
.container .project-section {
  margin: 20px 50px 80px 0px;
  height: 200px;
}
.container .project-section .section-header {
  margin-left: 25px;
  display: flex;
  align-items: center;
}
.container .project-section .section-header::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #6c5ce7;
  border-radius: 50%;
  margin-right: 15px;
  border: 5px solid #f4f7ff;
}
.container .project-section .section-header .section-title {
  font-family: "outfit";
  font-weight: 500;
  color: #2e2e48;
  margin-left: 50px;
}
.container .project-section .project-list {
  display: flex;
  margin-left: 75px;
  font-family: "DM sans";
}
.container .project-section .project-list .project-card {
  background-color: #f7f9fc;
  margin-left: 25px;
  border-radius: 12px;
  padding: 24px;
  height: 180px;
  margin-top: 20px;
  display: block;
  gap: 16px;
}
.container .project-section .project-list .project-card .project-card-content {
  display: flex;
}
.container .project-section .project-list .project-card .project-card-content .project-icon {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.container .project-section .project-list .project-card .project-card-content .project-content {
  margin-left: 25px;
}
.container .project-section .project-list .project-card .project-card-content .project-content .project-title {
  font-weight: 400;
}
.container .project-section .project-list .project-card .project-card-content .project-content .project-description {
  font-size: 14px;
  color: #718096;
  line-height: 1.5;
}
.container .project-section .project-list .link-content {
  margin-top: 15px;
  padding: 8px;
}
.container .project-section .project-list .link-content .link-icon {
  height: 20px;
  width: 20px;
  padding: 5px;
  background-color: #e1e7fe;
  border-radius: 100px;
  flex-shrink: 0;
}
.container .project-section .project-list .link-content .project-link {
  margin-top: 10px;
  font-weight: bold;
}
.container .skills-section {
  margin-bottom: 60px;
  margin-right: 30px;
}
.container .skills-section .section-header {
  margin-left: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.container .skills-section .section-header::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #6c5ce7;
  border-radius: 50%;
  margin-right: 15px;
  border: 5px solid #f4f7ff;
}
.container .skills-section .section-header .section-title {
  font-family: "outfit";
  font-weight: 500;
  color: #2e2e48;
  margin-left: 50px;
}
.container .skills-section .skills__group {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
  align-items: start;
  margin-left: 40px;
}
.container .skills-section .skills__group:last-child {
  margin-bottom: 0;
}
.container .skills-section .skills__group .skills__category {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
}
.container .skills-section .skills__group .skills__category .skills__icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #efe2f9;
  border-radius: 50px;
  align-items: center;
}
.container .skills-section .skills__group .skills__category .skills__label {
  font-size: 14px;
  color: rgb(69, 69, 69);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  align-self: left;
}
.container .skills-section .skills__group .skills__items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: max-content;
  height: max-content;
}
.container .skills-section .skills__group .skills__items .skills__item {
  background: #f7f9fc;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #9251f7;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 15px;
}
.container .skills-section .skills__group .skills__items .skills__item .line {
  border-left: #afb4c0 1px solid;
  opacity: 0.5;
  height: 60%;
}
.container .skills-section .skills__group .skills__items .skills__item .item-group {
  gap: 8px;
}
.container .skills-section .skills__group .skills__items .skills__item .skills__list {
  margin: 0;
  padding: 15px;
  justify-content: center;
}
.container .skills__group__dev {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
  align-items: start;
  margin-left: 40px;
}
.container .skills__group__dev:last-child {
  margin-bottom: 0;
}
.container .skills__group__dev .skills__category {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
}
.container .skills__group__dev .skills__category .skills__icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #e1e7fe;
  border-radius: 50px;
}
.container .skills__group__dev .skills__category .skills__label {
  font-size: 14px;
  color: rgb(69, 69, 69);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  align-self: left;
}
.container .skills__group__dev .skills__items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: max-content;
  height: max-content;
}
.container .skills__group__dev .skills__items .skills__item {
  background: #f7f9fc;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #516cf7;
  align-items: center;
  padding: 15px;
  display: flex;
}
.container .skills__group__dev .skills__items .skills__item .line {
  border-left: #afb4c0 1px solid;
  opacity: 0.5;
  height: 60%;
}
.container .skills__group__dev .skills__items .skills__item .item-group {
  gap: 8px;
  padding: 10px;
}
.container .skills__group__dev .skills__items .skills__item .item-group-col {
  margin-left: 10px;
}
.container .skills__group__dev .skills__items .skills__item .skills__list {
  margin: 0;
  padding: 15px;
}

.experience-section {
  margin-bottom: 60px;
  position: relative;
  margin-right: 50px;
}
.experience-section .section-header {
  margin-left: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.experience-section .section-header::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #6c5ce7;
  border-radius: 50%;
  margin-right: 15px;
  border: 5px solid #f4f7ff;
}
.experience-section .section-header .section-title {
  font-family: "outfit";
  font-weight: 500;
  color: #2e2e48;
  margin-left: 50px;
}
.experience-section .experience-list {
  margin-left: 125px;
  position: relative;
}
.experience-section .experience-list::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #afb4c0;
  z-index: 0;
  height: calc(100% - 83px);
}
.experience-section .experience-list .experience-details {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  align-items: start;
  position: relative;
}
.experience-section .experience-list .experience-details:last-child {
  margin-bottom: 0;
}
.experience-section .experience-list .experience-details::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0px;
  width: 6px;
  height: 6px;
  background-color: #6c5ce7;
  border-radius: 50%;
  z-index: 1;
  border: 5px solid #f4f7ff;
  box-shadow: rgba(99, 99, 99, 0.185) 0px 0px 0px 1px;
}
.experience-section .experience-list .experience-details .experience-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 10px;
}
.experience-section .experience-list .experience-details .experience-left .time-address {
  display: flex;
  gap: 8px;
}
.experience-section .experience-list .experience-details .experience-left .time-address .address-icon {
  height: 10px;
  width: 10px;
}
.experience-section .experience-list .experience-details .experience-left .time-address .address {
  font-size: 11px;
  color: #afb4c0;
}
.experience-section .experience-list .experience-details .experience-left .time-address .experience-date {
  font-size: 12px;
  color: #718096;
  font-weight: 500;
  font-family: "DM sans";
  display: flex;
  align-items: center;
  gap: 8px;
}
.experience-section .experience-list .experience-details .experience-left .experience-header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.experience-section .experience-list .experience-details .experience-left .experience-header .company-logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  flex-shrink: 0;
  object-fit: cover;
  background-color: #000;
}
.experience-section .experience-list .experience-details .experience-left .experience-header .experience-info .experience-title {
  font-size: 14px;
  color: #2d3748;
  font-weight: 500;
  margin-bottom: 2px;
  font-family: "outfit";
}
.experience-section .experience-list .experience-details .experience-left .experience-header .experience-info .experience-company {
  font-size: 14px;
  color: #2e2e48;
  font-weight: 600;
  font-family: "outfit";
}
.experience-section .experience-list .experience-details .experience-content .experience-description {
  font-size: 13px;
  color: #718096;
  line-height: 1.6;
  font-family: "DM sans";
}

.education-section {
  margin-bottom: 60px;
  margin-left: 25px;
  margin-right: 50px;
}
.education-section .section-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.education-section .section-header::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #6c5ce7;
  border-radius: 50%;
  margin-right: 15px;
  border: 5px solid #f4f7ff;
}
.education-section .section-header .section-title {
  font-family: "outfit";
  font-weight: 500;
  color: #2e2e48;
  margin-left: 50px;
}
.education-section .education-list {
  margin-left: 75px;
  display: flex;
}
.education-section .education-list .education-cards {
  margin-bottom: 35px;
  display: block;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-right: 10px;
  background-color: #f7f9fc;
  border-radius: 12px;
  width: 300px;
  height: max-content;
  margin-top: 30px;
}
.education-section .education-list .education-cards:last-child {
  margin-bottom: 0;
}
.education-section .education-list .education-cards .education-details {
  display: flex;
  align-items: center;
  gap: 12px;
}
.education-section .education-list .education-cards .education-details .education-logo {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  flex-shrink: 0;
}
.education-section .education-list .education-cards .education-details .education-name {
  font-size: 14px;
  color: #4a5568;
  font-weight: 500;
  text-transform: capitalize;
}
.education-section .education-list .education-cards .education-content {
  flex: 1;
  margin-top: 10px;
}
.education-section .education-list .education-cards .education-content .education-title {
  font-size: 16px;
  color: #2d3748;
  font-weight: 600;
  margin-bottom: 5px;
}
.education-section .education-list .education-cards .education-content .education-date {
  font-size: 13px;
  color: #718096;
  font-weight: 500;
}

.tools-section {
  margin-bottom: 60px;
  margin-left: 25px;
  margin-right: 30px;
}
.tools-section .section-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.tools-section .section-header::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #6c5ce7;
  border-radius: 50%;
  margin-right: 15px;
  border: 5px solid #f4f7ff;
}
.tools-section .section-header .section-title {
  font-family: "outfit";
  font-weight: 500;
  margin-left: 50px;
  color: #2e2e48;
}
.tools-section .tool-lists {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.tools-section .tool-lists .tool-row1,
.tools-section .tool-lists .tool-row2 {
  display: flex;
  margin-left: 75px;
}
.tools-section .tool-lists .tool-row1 .tool-card,
.tools-section .tool-lists .tool-row2 .tool-card {
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  background: #f7f9fc;
  width: max-content;
  margin-right: 20px;
  margin-bottom: 10px;
}
.tools-section .tool-lists .tool-row1 .tool-card .tool-icon,
.tools-section .tool-lists .tool-row2 .tool-card .tool-icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  margin: 0 auto 10px;
  display: block;
}
.tools-section .tool-lists .tool-row1 .tool-card .tool-name,
.tools-section .tool-lists .tool-row2 .tool-card .tool-name {
  font-size: 14px;
  color: #2d3748;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.tools-section .tool-lists .tool-row1 .tool-card .tool-detail,
.tools-section .tool-lists .tool-row2 .tool-card .tool-detail {
  font-size: 12px;
  color: #718096;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    order: 1;
  }
  .sidebar .banner .banner-photo {
    margin: 0px auto;
  }
  .sidebar .banner .name {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .sidebar .banner .role {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .sidebar .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0 20px;
  }
  .sidebar .contact-section .contact-details {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .sidebar .contact-section .contact-details .contact-icon {
    height: 16px;
    width: 16px;
    padding: 3px;
  }
  .sidebar .contact-section .contact-details .contact-content {
    margin-left: 8px;
  }
  .sidebar .contact-section .contact-details .contact-content .contact-label {
    font-size: 10px;
  }
  .sidebar .contact-section .contact-details .contact-content .contact-value {
    font-size: 11px;
  }
  .sidebar .social-section {
    padding: 0 20px;
  }
  .sidebar .social-section .social-title {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .sidebar .social-section .social-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .sidebar .social-section .social-box .social-details {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .sidebar .social-section .social-box .social-details .social-icon {
    height: 20px;
    width: 20px;
  }
  .sidebar .social-section .social-box .social-details .social-contents {
    margin-left: 8px;
  }
  .sidebar .social-section .social-box .social-details .social-contents .social-label {
    font-size: 10px;
  }
  .sidebar .social-section .social-box .social-details .social-contents .social-value {
    font-size: 11px;
  }
  .sidebar .language-section {
    padding: 0 20px;
  }
  .sidebar .language-section .language-title {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .sidebar .language-section .language-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .sidebar .language-section .language-box .language-details {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .sidebar .language-section .language-box .language-details .language-icon {
    height: 20px;
    width: 20px;
  }
  .sidebar .language-section .language-box .language-details .language-contents {
    margin-left: 8px;
  }
  .sidebar .language-section .language-box .language-details .language-contents .language-label {
    font-size: 10px;
  }
  .sidebar .language-section .language-box .language-details .language-contents .language-value {
    font-size: 11px;
  }
  .container {
    width: 100%;
    margin-left: 0;
    order: 2;
  }
  .container::before {
    left: 32px;
    height: calc(100% + 500px);
  }
  .container .project-section {
    margin: 20px 20px 60px 20px;
    height: auto;
  }
  .container .project-section .section-header {
    margin-left: 0;
  }
  .container .project-section .section-header .section-title {
    margin-left: 20px;
    font-size: 20px;
  }
  .container .project-section .project-list {
    flex-direction: column;
    margin-left: 20px;
  }
  .container .project-section .project-list .project-card {
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .container .project-section .project-list .project-card .project-card-content .project-icon {
    width: 60px;
    height: 60px;
  }
  .container .project-section .project-list .project-card .project-card-content .project-content {
    margin-left: 15px;
  }
  .container .project-section .project-list .project-card .project-card-content .project-content .project-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .container .project-section .project-list .project-card .project-card-content .project-content .project-description {
    font-size: 13px;
  }
  .container .experience-section {
    margin: 20px 20px 60px 20px;
  }
  .container .experience-section .section-header {
    margin-left: 0;
  }
  .container .experience-section .section-header .section-title {
    margin-left: 20px;
    font-size: 20px;
  }
  .container .experience-section .experience-list {
    margin-left: 20px;
  }
  .container .experience-section .experience-list::before {
    left: -13px;
  }
  .container .experience-section .experience-list .experience-details {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .container .experience-section .experience-list .experience-details .experience-left {
    margin-left: 10px;
  }
  .container .experience-section .experience-list .experience-details .experience-left .experience-header .company-logo {
    width: 35px;
    height: 35px;
  }
  .container .experience-section .experience-list .experience-details .experience-left .experience-header .experience-info .experience-title {
    font-size: 13px;
  }
  .container .experience-section .experience-list .experience-details .experience-left .experience-header .experience-info .experience-company {
    font-size: 13px;
  }
  .container .experience-section .experience-list .experience-details .experience-content .experience-description {
    font-size: 12px;
  }
  .container .education-section {
    margin: 20px 20px 60px 20px;
  }
  .container .education-section .section-header {
    margin-left: 0;
  }
  .container .education-section .section-header .section-title {
    margin-left: 20px;
    font-size: 20px;
  }
  .container .education-section .education-list {
    margin-left: 20px;
    flex-direction: column;
  }
  .container .education-section .education-list .education-cards {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .container .education-section .education-list .education-cards .education-details .education-logo {
    width: 40px;
    height: 40px;
  }
  .container .education-section .education-list .education-cards .education-details .education-name {
    font-size: 13px;
  }
  .container .education-section .education-list .education-cards .education-content .education-title {
    font-size: 15px;
  }
  .container .education-section .education-list .education-cards .education-content .education-date {
    font-size: 12px;
  }
  .container .skills-section {
    margin: 20px 20px 60px 20px;
  }
  .container .skills-section .section-header {
    margin-left: 0;
  }
  .container .skills-section .section-header .section-title {
    margin-left: 20px;
    font-size: 20px;
  }
  .container .skills-section .skills__group {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-left: 0;
  }
  .container .skills-section .skills__group .skills__category {
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
  }
  .container .skills-section .skills__group .skills__category .skills__icon {
    margin-bottom: 0;
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
  .container .skills-section .skills__group .skills__category .skills__label {
    font-size: 13px;
  }
  .container .skills-section .skills__group .skills__items {
    margin-left: 20px;
    width: 100%;
    max-width: calc(100vw - 60px);
  }
  .container .skills-section .skills__group .skills__items .skills__item {
    padding: 8px 10px;
    font-size: 12px;
    flex-direction: column;
    gap: 5px;
    width: auto;
    min-width: fit-content;
  }
  .container .skills-section .skills__group .skills__items .skills__item .line {
    height: 1px;
    width: 20px;
    border-left: none;
    border-top: 1px solid #afb4c0;
    opacity: 0.5;
  }
  .container .skills-section .skills__group .skills__items .skills__item .item-group {
    padding: 2px 0;
    text-align: center;
  }
  .container .skills-section .skills__group .skills__items .skills__item .skills__list {
    padding: 5px 10px;
    margin: 0;
  }
  .container .skills-section .skills__group .skills__items .skills__item .skills__list li {
    font-size: 11px;
    margin-bottom: 3px;
  }
  .container .skills__group__dev {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-left: 0;
  }
  .container .skills__group__dev .skills__category {
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
  }
  .container .skills__group__dev .skills__category .skills__icon {
    margin-bottom: 0;
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
  .container .skills__group__dev .skills__category .skills__label {
    font-size: 13px;
  }
  .container .skills__group__dev .skills__items {
    margin-left: 20px;
    width: 100%;
    max-width: calc(100vw - 60px);
  }
  .container .skills__group__dev .skills__items .skills__item {
    padding: 8px 10px;
    font-size: 12px;
    flex-direction: column;
    gap: 5px;
    width: auto;
    min-width: fit-content;
  }
  .container .skills__group__dev .skills__items .skills__item .line {
    height: 1px;
    width: 20px;
    border-left: none;
    border-top: 1px solid #afb4c0;
    opacity: 0.5;
  }
  .container .skills__group__dev .skills__items .skills__item .item-group {
    padding: 2px 0;
    text-align: center;
  }
  .container .skills__group__dev .skills__items .skills__item .item-group-col {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  .container .skills__group__dev .skills__items .skills__item .item-group-col .line {
    width: 20px;
    height: 1px;
    border: none;
    border-top: 1px solid #afb4c0;
    margin: 2px 0;
  }
  .container .skills__group__dev .skills__items .skills__item .skills__list {
    padding: 5px 10px;
    margin: 0;
  }
  .container .skills__group__dev .skills__items .skills__item .skills__list li {
    font-size: 11px;
    margin-bottom: 3px;
  }
  .container .tools-section {
    margin: 20px 20px 60px 20px;
  }
  .container .tools-section .section-header {
    margin-left: 0;
  }
  .container .tools-section .section-header .section-title {
    margin-left: 20px;
    font-size: 20px;
  }
  .container .tools-section .tool-lists {
    margin-left: -20px;
    gap: 15px;
  }
  .container .tools-section .tool-lists .tool-row1,
  .container .tools-section .tool-lists .tool-row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  .container .tools-section .tool-lists .tool-row1 .tool-card,
  .container .tools-section .tool-lists .tool-row2 .tool-card {
    width: calc(50% - 7.5px);
    min-width: auto;
    padding: 15px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .container .tools-section .tool-lists .tool-row1 .tool-card .tool-icon,
  .container .tools-section .tool-lists .tool-row2 .tool-card .tool-icon {
    width: 40px;
    height: 40px;
  }
  .container .tools-section .tool-lists .tool-row1 .tool-card .tool-name,
  .container .tools-section .tool-lists .tool-row2 .tool-card .tool-name {
    font-size: 13px;
  }
  .container .tools-section .tool-lists .tool-row1 .tool-card .tool-detail,
  .container .tools-section .tool-lists .tool-row2 .tool-card .tool-detail {
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
